<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true" internalLogLevel="Debug">
        <!-- <extensions>
    <add assembly="NLog.Web.AspNetCore"/>   
  </extensions>  -->
        <targets>
                <target xsi:type="Console" name="allConsole" layout="${longdate}|${uppercase:${level}}|${logger}|${event-properties:item=EventId_Id:whenEmpty=0}|${event-properties:item=EventId_Name:whenEmpty=0}|${message} ${exception:format=tostring}"/>
                <target xsi:type="ColoredConsole" name="allColoredConsole" useDefaultRowHighlightingRules="true" layout="${longdate}|${uppercase:${level}}|${logger}|${event-properties:item=EventId_Id:whenEmpty=0}|${event-properties:item=EventId_Name:whenEmpty=0}|${message} ${exception:format=tostring}"/>
                <target xsi:type="File" name="allfile" fileName="${basedir}/log/${shortdate}/all-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${event-properties:item=EventId_Id:whenEmpty=0}|${event-properties:item=EventId_Name:whenEmpty=0}|${message} ${exception:format=tostring} " />
                <target xsi:type="File" name="allTrace" fileName="${basedir}/log/${shortdate}/trace-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${event-properties:item=EventId_Id:whenEmpty=0}|${event-properties:item=EventId_Name:whenEmpty=0}|${message} ${exception:format=tostring} " />
                <target xsi:type="File" name="allDebug" fileName="${basedir}/log/${shortdate}/debug-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${event-properties:item=EventId_Id:whenEmpty=0}|${event-properties:item=EventId_Name:whenEmpty=0}|${message} ${exception:format=tostring} " />
                <target xsi:type="File" name="allInfo" fileName="${basedir}/log/${shortdate}/info-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${event-properties:item=EventId_Id:whenEmpty=0}|${event-properties:item=EventId_Name:whenEmpty=0}|${message} ${exception:format=tostring} " />
                <target xsi:type="File" name="allWarn" fileName="${basedir}/log/${shortdate}/warn-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${event-properties:item=EventId_Id:whenEmpty=0}|${event-properties:item=EventId_Name:whenEmpty=0}|${message} ${exception:format=tostring} " />
                <target xsi:type="File" name="allError" fileName="${basedir}/log/${shortdate}/error-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${event-properties:item=EventId_Id:whenEmpty=0}|${event-properties:item=EventId_Name:whenEmpty=0}|${message} ${exception:format=tostring} " />
                <target xsi:type="File" name="allFatal" fileName="${basedir}/log/${shortdate}/fatal-${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger}|${event-properties:item=EventId_Id:whenEmpty=0}|${event-properties:item=EventId_Name:whenEmpty=0}|${message} ${exception:format=tostring} " />
        </targets>
        <rules>
                <!-- <logger name="*" minlevel="Trace" writeTo="allConsole" /> -->
                <logger name="*" minlevel="Trace" writeTo="allfile" />
                <logger name="*" level="Trace" writeTo="allTrace" />
                <logger name="*" level="Debug" writeTo="allDebug" />
                <logger name="*" level="Info" writeTo="allInfo" />
                <logger name="*" level="Warn" writeTo="allWarn" />
                <logger name="*" level="Error" writeTo="allError" />
                <logger name="*" level="Fatal" writeTo="allFatal" />
                <!-- <logger name="Microsoft.*" maxlevel="Info" final="true" /> -->
                <!-- <logger name="*" minlevel="Trace" writeTo="signalr" /> -->
        </rules>
</nlog>